---
import { Button } from "@/components/ui/button";
import type Post from "@/interfaces/post";
import fetchApi from "@/lib/strapi";
import { Image } from "astro:assets";

// Función para obtener los posts de Strapi
async function fetchPosts() {
  try {
    const posts = await fetchApi<Post[]>({
      endpoint:
        "articles?fields[0]=title&fields[1]=description&fields[2]=pubDate&fields[4]=slug&populate[cover][fields]=url,width,height",
      wrappedByKey: "data",
      method: "GET",
    });

    // Verifica si se recibieron datos antes de intentar ordenarlos
    if (!posts || posts.length === 0) {
      console.log("No se encontraron artículos");
      return [];
    }

    // Ordena los posts más recientes
    return posts.sort(
      (a, b) => new Date(b.pubDate).getTime() - new Date(a.pubDate).getTime()
    );
  } catch (error) {
    console.error("Error al obtener los artículos:", error);
    return [];
  }
}

// Llamada a la función de obtención de posts y selección de los 6 más recientes
const allPosts = await fetchPosts();
const recentPosts = allPosts.slice(0, 6);
---

<section
  id="posts"
  class="w-full py-12 md:py-24 lg:py-32 bg-white dark:bg-gray-800"
>
  <div class="container px-4 md:px-6">
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8 text-primary-800 dark:text-primary-200"
    >
      Todos los Artículos
    </h2>
    <div class="grid gap-6 lg:grid-cols-3">
      {
        recentPosts.map(
          ({ cover: { url, height, width }, title, slug, description }) => (
            <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
              <Image
                src={url as any}
                alt={title}
                class="w-full h-48 object-cover rounded-t-lg"
                transition:name={`img-${slug}`}
                height={height}
                width={width}
                loading="lazy"
              />
              <div class="p-4">
                <h3 class="text-lg font-bold" transition:name={title}>
                  {title}
                </h3>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                  {description}
                </p>
                <a href={`/blog/post/${slug}`} class="mt-2 inline-block">
                  <Button variant="outline">Leer más</Button>
                </a>
              </div>
            </div>
          )
        )
      }
    </div>
    <div class="text-center mt-8">
      <Button asChild>
        <a href="/blog">Ver todos los artículos</a>
      </Button>
    </div>
  </div>
</section>
