---
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import { getCollection } from 'astro:content';

const allFeaturedPosts = await getCollection('blog', ({ data }) => data.featured);
const featuredPosts = allFeaturedPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
const allTags = await getCollection('tags')
---

<section id="featured-articles" class="w-full py-12 md:py-24 lg:py-32 bg-secondary-100 dark:bg-secondary-900">
  <div class="container px-4 md:px-6">
    <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8 text-primary-800 dark:text-primary-200">
      Artículos Destacados
    </h2>
    <div class="grid gap-6 lg:grid-cols-3">
      {featuredPosts.map(({data, slug}) => (
        <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
          <Image src={data.cover} alt={data.title} class="w-full h-48 object-cover rounded-t-lg" inferSize={true} />
          <div class="p-4">
            <h3 class="text-lg font-bold">{data.title}</h3>
            <p class="text-sm text-gray-500 dark:text-gray-400">{data.summary}</p>
            <div class="flex justify-between items-center">
              <a href={`/blog/post/${slug}`} class="mt-2 inline-block">
                <Button variant="outline">Leer más</Button>
              </a>
              <div class="gap-2">
                {
                  data.tags.map(tag => (
                    allTags.filter(tags => tags.slug === tag.slug).map(({data}) => (
                      <Button className="text-sm font-bold bg-primary-600 hover:bg-primary-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        {data.name}
                      </Button>
                    ))
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>