---
import { Button } from "@/components/ui/button";
import type Post from "@/interfaces/post";
import { Image } from "astro:assets";

let allFinancePosts: Post[] = [];

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;

allFinancePosts = posts.filter((post) => post.category.name === "Finanzas");

const financePosts = allFinancePosts
  .filter((post) => post.featured === true)
  .slice(0, 3);
---

<section class="w-full py-12 md:py-24 lg:py-32 bg-gray-100 dark:bg-gray-900">
  <div class="container px-4 md:px-6">
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8 text-primary-800 dark:text-primary-200"
    >
      Finanzas
    </h2>
    <div class="grid gap-6 lg:grid-cols-3">
      {
        financePosts.map(
          ({
            coverUrl: { small },
            title,
            cover: {
              formats: {
                small: { width, height },
              },
            },
            slug,
          }) => (
            <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
              <Image
                src={small as any}
                alt={title}
                class="w-full h-48 object-cover rounded-t-lg"
                width={width}
                height={height}
                loading="lazy"
              />
              <div class="p-4">
                <h3 class="text-lg font-bold">{title}</h3>
                <a href={`/blog/post/${slug}`} class="mt-2 inline-block">
                  <Button variant="outline">Leer más</Button>
                </a>
              </div>
            </div>
          ),
        )
      }
    </div>
  </div>
</section>
