---
import { Button } from "@/components/ui/button";
import type Post from "@/interfaces/post";
import fetchApi from "@/lib/strapi";
import { Image } from "astro:assets";

let alltechPosts: Post[] = [];

try {
  alltechPosts = await fetchApi<Post[]>({
    endpoint:
      "articles?filters[category][slug][$contains]=tecnologia&fields[0]=title&fields[1]=description&&fields[2]=pubDate&fields[3]=featured&fields[4]=slug&populate[cover][fields]=url,width,height",
    wrappedByKey: "data",
    method: "GET",
  });
} catch (error) {
  console.error("Error al obtener los artículos:", error);
}

const techPosts = alltechPosts
  .filter((post) => post.featured === true)
  .sort((a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf())
  .slice(0, 3);
const path = import.meta.env.STRAPI_URL;
---

<section
  id="tecnologia"
  class="w-full py-12 md:py-24 lg:py-32 bg-white dark:bg-gray-800"
>
  <div class="container px-4 md:px-6">
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8 text-primary-800 dark:text-primary-200"
    >
      Tecnología
    </h2>
    <div class="grid gap-6 lg:grid-cols-3">
      {
        techPosts.map(({ title, cover: { url, width, height }, slug }) => (
          <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
            <Image
              src={(path + url) as any}
              alt={title}
              class="w-full h-48 object-cover rounded-t-lg"
              width={width}
              height={height}
              loading="eager"
            />
            <div class="p-4">
              <h3 class="text-lg font-bold">{title}</h3>
              <a href={`/blog/post/${slug}`} class="mt-2 inline-block">
                <Button variant="outline">Leer más</Button>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
