---
import { Button } from "@/components/ui/button";
import type Post from "@/interfaces/post";
import fetchApi from "@/lib/strapi";
import { client } from "@/utils/redis";
import { Image } from "astro:assets";

if (!client.isOpen) {
  client
    .connect()
    .catch((err) => console.error("Error al conectar con Redis:", err));
}

let dataPost: Post[] = [];

try {
  const data = await client.get("allPostsTech");
  if (!data) {
    dataPost = await fetchApi<Post[]>({
      endpoint:
        "articles?fields[0]=title&fields[1]=description&fields[2]=pubDate&fields[3]=featured&fields[4]=slug&populate[cover][fields]=formats&populate[category][fields]=name",
      wrappedByKey: "data",
      method: "GET",
      query: {
        "pagination[page]": 1,
        "pagination[pageSize]": 3,
        sort: "pubDate:desc",
        "filters[category][name][$eq]": "Tecnología", // Filtro por categoría
      },
    });
    await client.set("allPostsTech", JSON.stringify(dataPost), {
      EX: 60 * 60 * 12,
    });
  } else {
    dataPost = JSON.parse(data);
  }
} catch (error) {
  console.error("Error al obtener los artículos:", error);
}

if (dataPost.length === 0) return;

const optimizedImageUrl = (url: string, width: number, height: number) =>
  `${url}?f_auto,q_auto,w_${width},h_${height}`;

const allTechPosts = dataPost.map((article) => ({
  ...article,
  coverUrl: {
    small: optimizedImageUrl(article.cover.formats.small.url, 500, 391),
  },
}));

if (allTechPosts.length === 0) return;
---

<section class="w-full py-12 md:py-24 lg:py-32 bg-white dark:bg-gray-800">
  <div class="container px-4 md:px-6">
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8 text-primary-800 dark:text-primary-200"
    >
      Tecnología
    </h2>
    <div class="grid gap-6 lg:grid-cols-3">
      {
        allTechPosts.map(
          ({
            coverUrl: { small },
            title,
            cover: {
              formats: {
                small: { width, height },
              },
            },
            slug,
          }) => (
            <div class="rounded-lg border bg-card text-card-foreground shadow-xs">
              <Image
                src={small as any}
                alt={title}
                class="w-full h-48 object-cover rounded-t-lg"
                width={width}
                height={height}
                loading="eager"
              />
              <div class="p-4">
                <h3 class="text-lg font-bold">{title}</h3>
                <a href={`/blog/post/${slug}`} class="mt-2 inline-block">
                  <Button variant="outline">Leer más</Button>
                </a>
              </div>
            </div>
          ),
        )
      }
    </div>
  </div>
</section>
