---
// src/pages/post/[id].astro
import { CommentSection } from '@/components/CommentSection';
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets';
import PostLayout from '@/layouts/PostLayout.astro';
const { id } = Astro.params;
const user = Astro.locals.user
const posts = await getCollection('blog')
const post = posts.find(post => post.slug === id)
if(!post) return
const authors = await getCollection('authors', ({slug}) => {
  return post.data.authors.filter(author => author.slug === slug)
})
const { Content } = await render(post)
---

<PostLayout title={post.data.title} pubDate={post.data.date} heroImage={post.data.cover} slug={post.slug} authors={authors} >
  <article class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="mb-4 flex gap-2">
      
    </div>
    <div class="prose dark:prose-invert max-w-none">
      <Content />
    </div>
    <CommentSection client:load articleId={post.slug} user={user}/>
  </article>
</PostLayout>