---
// src/layouts/PostLayout.astro
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import { formatDate } from "@/utils/date";
import type Author from "@/interfaces/author";
import { CommentSection } from "@/components/CommentSection";
import ScrollToTopButton from "@/components/ScrollToTopButton";
import TableOfContents from "@/components/TableOfContents";
import type Header from "@/interfaces/header";
import type { User } from "lucia";

interface Props {
  id?: number | string;
  title: string;
  pubDate: Date;
  slug: string;
  author: Author;
  updatedDate?: Date;
  heroImage?: any;
  alt?: string;
  user: User | null;
  headers: Header[];
  documentId: string;
}

const {
  id,
  title,
  pubDate,
  updatedDate,
  heroImage,
  alt,
  slug,
  author,
  user,
  headers,
  documentId,
} = Astro.props;
---

<BaseLayout title={title} imageUrl={heroImage}>
  <article class="py-12">
    <header class="max-w-4xl mx-auto mb-8">
      <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100 mb-4">
        {title}
      </h1>
      <div
        class="flex flex-col sm:flex-row sm:items-center text-gray-600 dark:text-gray-400 gap-4"
      >
        <time datetime={pubDate.toISOString()} class="text-sm"
          >{formatDate(pubDate)}</time
        >

        <div class="flex flex-wrap items-center gap-4">
          <div class="flex items-center gap-2">
            {
              author.avatar && (
                <img
                  src={author.avatar.url}
                  alt={`Avatar de ${author.name}`}
                  class="w-10 h-10 rounded-full object-cover shadow-md"
                />
              )
            }
            <p class="text-sm font-medium">{author.name}</p>
          </div>
        </div>

        {
          updatedDate && (
            <div class="text-sm">
              <span class="mr-2">Actualizado:</span>
              <time datetime={updatedDate.toISOString()}>
                {formatDate(updatedDate)}
              </time>
            </div>
          )
        }
      </div>
    </header>

    {
      heroImage && (
        <div class="max-w-4xl mx-auto mb-8">
          <Image
            src={heroImage}
            alt={alt || "Hero image"}
            width={1200}
            height={600}
            class="rounded-lg shadow-md"
            transition:name={`img-${slug}`}
          />
        </div>
      )
    }

    <div class="lg:flex lg:gap-8 relative">
      <aside class="lg:w-64 xl:w-72 shrink-0">
        <div class="sticky top-24">
          <TableOfContents headers={headers} client:load />
        </div>
      </aside>
      <div class="prose prose-lg dark:prose-invert max-w-none lg:flex-grow">
        <slot />
      </div>
    </div>

    <div class="mt-12 max-w-4xl mx-auto not-prose">
      <CommentSection
        client:load
        articleId={id}
        user={user}
        documentId={documentId}
      />
    </div>
  </article>
  <ScrollToTopButton client:load />
</BaseLayout>
